*.class
*.log

# sbt specific
.history
target/
project/plugins/project/

# Eclipse
.classpath
.project
.settings
.checkstyle
bin/

# Gradle
.gradle
gradle.properties

# IntelliJ IDEA
.idea/
/buildSrc/build/source-roots/buildSrc/source-roots.txt

# Visual Studio Code
.vscode/

# build specific
node_modules/
/project/webpack/node_modules
/project/webpack/assets
/project/webpack/dll
/project/webpack/.happypack
/project/webpack/.mp-components
/project/webpack/.mp-extensions
/project/webpack/.mp-schemas
/project/webpack/.cache-loader
/project/webpack/tests_out/
/project/webpack/*.log.*


# local development build config
/default-root-build.json

# emacs
.#*
\#*
workbench.xmi

# idea
.idea/
*.iml
*.iws

# runtime
/runtime*
/launchers/*

# Mac
.DS_Store

# build  artefacts
metaphacts-platform/dist/docker/platform/config
metaphacts-platform/dist/docker/platform/etc
metaphacts-platform/dist/docker/platform/ROOT.war

# dev artefacts
.env