.ontodia-list-element-view {
  display: flex;
  margin-bottom: 2px;
  opacity: 1.0;
  user-select: none;
  border-radius: 2px;
  border: 1px solid;
  border-left: 10px solid;
  padding: 1px 5px 1px 7px;
  cursor: pointer;

  &--disabled {
    opacity: 0.4;
    cursor: default;
  }

  &__label {
    flex: auto;
    color: black;
    font-family: "Andale Mono", sans-serif;
    font-size: 15px;
    min-height: 1.3em;
    overflow-wrap: break-word;
  }

  &--has-content &__label {
    flex: 1 1 50%;
    max-width: 50%;
  }

  &__content {
    flex: 1 1 50%;
    max-width: 50%;
    overflow-wrap: break-word;
  }
}

.ontodia-text-highlight {
  font-weight: bold;
}
