<mp-event-proxy id='clipboard-update-on-save-diagram' on-event-source='ontodia'
                proxy-event-type='Component.Refresh' proxy-targets='["clipboard-sidebar"]'
></mp-event-proxy>

<ol class="page-breadcrumb">
  <li><a title="Home" href="/">Home</a></li>
  <li>
    <semantic-link uri="http://www.researchspace.org/resource/MyDiagrams" urlqueryparam-tab="records">My Diagrams</semantic-link>
  </li>
  <li class="active">
    New Diagram
  </li>
</ol>
[[!-- [[>rsp:ClipboardSidebar]] --]]
[[#>rsp:ClipboardSidebar]]
<div class="rs-page style--base">
  <div class="container-fluid">
    <div class="rs-page__top">
      <div class="row">
        <div class="rs-page__header-elements">
          <div style="margin-left:20px">
            <div class="sub-title">
              <h2 style="margin:0"><span class="icon-fc--header-title fa fa-sitemap"></span><small> New Simplified Diagram</small></h2>
            </div>
          </div>
        </div>
      </div><!--row-->
    </div><!--top-->
    <bs-row class="style--main style--border-top">
      <bs-col sm=12 style="height: calc(100vh - 104px)">
        <ontodia id='ontodia' add-to-default-set=true
        [[#if (urlParam "diagram")]]diagram="[[urlParam "diagram"]]"[[/if]]
        [[#if (urlParam "instance")]]iri='[[urlParam "instance"]]'[[/if]]
        [[> rsp:FcFrOntodiaConfig ]]
        >
          [[> rsp:FcFrOntodiaDataProviders]]
          [[#if (hasPermission "sparql:update")]]
          [[else]]
            <mp-workspace-layout>
              <mp-workspace-row>
                <mp-workspace-column default-size=275 default-collapsed=true>
                  <mp-workspace-item id='classes' heading='Classes'>
                    <ontodia-class-tree></ontodia-class-tree>
                  </mp-workspace-item>
                  <mp-workspace-item id='instances' heading='Instances'>
                    <ontodia-instances-search></ontodia-instances-search>
                  </mp-workspace-item>
                </mp-workspace-column>
                <mp-workspace-item id='paper'>
                  <ontodia-canvas>
                    <ontodia-toolbar>
                      <div class='btn-group btn-group-sm'>
                        <button name='forceLayout' class='btn btn-default'><i class='fa fa-snowflake-o'></i></button>
                        <button name='clearAll' class='btn btn-default'><i class='fa fa-trash'></i> Clear All</button>
                        <button name='zoomIn' class='btn btn-default' title='Zoom in'><i class='fa fa-search-plus'></i></button>
                        <button name='zoomOut' class='btn btn-default' title='Zoom out'><i class='fa fa-search-minus'></i></button>
                        <button name='zoomToFit' class='btn btn-default' title='Fit to screen'><i class='fa fa-arrows-alt'></i></button>
                        <button name='exportPng' class='btn btn-default' title='Export diagram as PNG'><i class='fa fa-picture-o'></i> PNG</button>
                        <button name='exportSvg' class='btn btn-default' title='Export diagram as SVG'><i class='fa fa-picture-o'></i> SVG</button>
                        <button name='print' class='btn btn-default' title='Print diagram'><i class='fa fa-print'></i></button>
                      </div>
                    </ontodia-toolbar>
                    <ontodia-halo></ontodia-halo>
                    <ontodia-halo-link></ontodia-halo-link>
                    <ontodia-navigator></ontodia-navigator>
                  </ontodia-canvas>
                </mp-workspace-item>
                <mp-workspace-column default-size=275 default-collapsed=true>
                  <mp-workspace-item id='connections' heading='Connections'>
                    <ontodia-connections></ontodia-connections>
                  </mp-workspace-item>
                </mp-workspace-column>
              </mp-workspace-row>
            </mp-workspace-layout>
          [[/if]]
        </ontodia>
      </bs-col>
    </bs-row>
  </div>
</div>
[[/rsp:ClipboardSidebar]]
