[[> http://www.metaphacts.com/resource/breadcrumbs/HelpPage]]


<div class="page">
  <div class="page__body">
  <h1> Form-Based Search Component </h1>
  <div class="documentation__intro">
    <div class="documentation__intro__description">
      Search input component for the <semantic-link iri="[[resolvePrefix "Help:SemanticSearch"]]">semantic search framework</semantic-link> based on the <semantic-link iri="[[resolvePrefix "Help:SemanticForm"]]">semantic form</semantic-link> component.  <br><br>
      <p>
        The component allows to flexibly compose form input components in order to serve as search definition input for the semantic search framework. Input values as provided by end-users will dynamically be injected as values into SPARQL query templates. This way forms can be used to let end-users execute pre-defined information requests aka SPARQL query templates, including SPARQL hybrid queries, i.e. for external (compute) service invocation.
      </p>
      <p>
        Due to the integration with the <semantic-link iri="[[resolvePrefix "Help:SemanticSearch"]]">semantic search framework</semantic-link>, the form-based search input can effectively be used to configure interactive result visualizations allowing end-users, for example:
      </p>
      <ul>
        <li>
          To constraint or change the visualization context, i.e. to filter pre-defined information needs / results sets.
        </li>
        <li>
          To explore the context of user selected instances, e.g. to show possible connections between two user selected instances in a graph.
        </li>
        <li>
          To invoke queries including external hybrid services and to render respective results.
        </li>
      </ul>

      <h4>Features</h4>
      <ul>
        <li>
          <b>Supports all atomic form input components</b>: text input, date input, autocomplete input, select input, tree input.
        </li>
        <li>
          <b>Can be combined with all standard result visualization components</b>: semantic-query, -table, -tree, -graph, -carousel, -map, -chart.
        </li>
      </ul>
      <h4>Limitations</h4>
      <ul>
        <li><b>Optional Values</b>: Due to the pattern matching nature of the SPARQL query language, it can be difficult to treat certain form inputs transparently as optional or non-optional parameters, i.e. if the user does not provide certain input values in the form-based search component, the respective query variables will simply not be injected (replaced) into the main query. However, the respective BGP (basic graph pattern) in the SPARQL query  will still exist and be most likely non-optional. </li>
        <li><b>Multi Value Parameterization</b>: Multi-value selection and parameterization for a single query variable is supported but it should be used with caution. Within SPARQL multi value injection is only possible through the VALUES clause. It has effectively a FILTER semantics and can either lead to very inefficient queries or even return unexpected results (in particular, in combination with service calls, subqueries, unions etc.). By default, multi-value selection is disabled but can be enabled by setting <code>multi=true</code>. It's possible to disable multi-value parameterization for particular variables by setting <code>"maxOccurs": "1"</code> for corresponding fields.</li>
      </ul>

    </div>

  </div>

  <div style="clear:both;"></div>
  <h2>Configuration </h2>
    Please refer to the <semantic-link iri="[[resolvePrefix "Help:SemanticForm"]]">semantic form help</semantic-link> for details about field definitions and configuration of respective HTML form input components.
    <mp-documentation type="SemanticFormBasedQueryConfig"></mp-documentation>

    <mp-code-block>
<![CDATA[
<semantic-search>
  <!-- 1. form-based search as search definition -->
	<semantic-search-form-query
    query-template='{
      "queryString": "
        SELECT ?subject WHERE {
          ?subject a ?class.
        }
      ",
      "arguments": {
        "class": {"type": "xsd:anyURI"}
      }
    }'
    fields='[
      {
        "id": "class",
        "label": "Type",
        "xsdDatatype": "xsd:anyURI",
        "valueSetPattern": "
          SELECT $value $label WHERE {
            VALUES ($value $label) {
              (<http://xmlns.com/foaf/0.1/Person> \"Person\")
              (<http://xmlns.com/foaf/0.1/Agent> \"Agent\")
            }
          }"
      }
    ]'>
      <semantic-form-select-input for="class"></semantic-form-select-input>
      <button type='button' name='submit' class='btn btn-secondary'>Search</button>
  </semantic-search-form-query>

	<!-- 2. faceting is optional -->
  <!-- <semantic-search-facet></semantic-search-facet> -->
  <semantic-search-result-holder>
			<!-- 	3. result visualization
						it is possible to use any semantic-* visualization component
						to visualize the search results, e.g semantic-graph
			-->
    <semantic-search-result>
      <semantic-table id='table' query='SELECT ?subject WHERE{}'></semantic-table>
    </semantic-search-result>
  </semantic-search-result-holder>
</semantic-search>
]]>
  </mp-code-block>
  <h2> Example: Graph visualization with user-selected nodes</h2>
  <p>
    The following example returns all person that know the user selected person.
    </p>

    <p>
      [[> Help:StructuredSearchSampleDataCheck]]
    </p>
    <mp-code-example>
<![CDATA[
<semantic-search id='demo1'>
  <!-- 1. search definition -->
  <semantic-search-form-query
     query-template='{
       "queryString": "SELECT ?subject WHERE {
                     ?subject <http://xmlns.com/foaf/0.1/knows> ?person .
                     }",
     "arguments": {
         "person": {"type": "xsd:anyURI"}
       }
     }'
     fields='[
       {
         "id": "person",
         "label": "Person name",
         "xsdDatatype": "xsd:anyURI",
         "valueSetPattern": "SELECT $value $label WHERE { VALUES ($value $label)
         { ( <http://example.org/alice#me> \"Alice\")
         (<http://example.org/bob#me> \"Bob\") } }"
       }
     ]'>
	<semantic-form-select-input for="person" placeholder='Select, for example, "Alice"'></semantic-form-select-input>
       <button type='button' name='submit' className='btn btn-secondary'>Visualize Graph</button>
   </semantic-search-form-query>

  <!-- 2. facet is optional -->
  <!-- <semantic-search-facet></semantic-search-facet> -->
  <semantic-search-result-holder>
    <semantic-search-result> <!-- 3. result visualization -->
      <semantic-graph id='graph' query='CONSTRUCT {} WHERE{}'></semantic-graph>
    </semantic-search-result>
  </semantic-search-result-holder>
</semantic-search>
]]>
  </mp-code-example>

  <h2> Example: Search with a simple table result </h2>
    <p>
      [[> Help:StructuredSearchSampleDataCheck]]
    </p>

    <mp-code-example>
<![CDATA[
<semantic-search id='demo2'>
  <!-- 1. search definition -->
  <semantic-search-form-query
     query-template='{
       "queryString": "SELECT ?subject WHERE {
                        ?subject a ?class;
                            rdfs:label ?stringLabel.
                        FILTER(REGEX(?stringLabel,?label,\"i\"))
                      }",
       "arguments": {
         "class": {"type": "xsd:anyURI", "optional": true},
         "label": {"type": "xsd:string"}
       }
     }'
     fields='[
       {
         "id": "class",
         "label": "Type",
         "description": "The type, i.e. class of the instance. Setting the minOccurs to 0 makes the form input optional, however, due to the rdf:type BGP pattern in the main query instances will need to have at least some type statement.",
         "xsdDatatype": "xsd:anyURI",
         "minOccurs": "0",
         "valueSetPattern": "SELECT $value $label WHERE { VALUES ($value $label)
         { (<http://xmlns.com/foaf/0.1/Person> \"Person\")
         (<http://dbpedia.org/ontology/Artwork> \"Artwork\") } }",
         "selectPattern": "SELECT $value WHERE { $subject a $value }"
       },
       {
				"id": "label",
				"label": "Label",
				"description": "Will match with regex on all rdfs:labels.",
				"minOccurs": "1",
				"xsdDatatype":"xsd:string"
				}
     ]'>
       <semantic-form-select-input placeholder='Please select a class to search instances of' for="class"></semantic-form-select-input>
       <semantic-form-text-input for="label" placeholder='Type "li" to find , for example, "mona lisa" or "alice"'></semantic-form-text-input>
       <button type='button' name='submit' className='btn btn-secondary'>Search</button>
   </semantic-search-form-query>
  <!-- 2. facet is optional -->
	<!-- <semantic-search-facet></semantic-search-facet> -->
  <semantic-search-result-holder>
    <semantic-search-result> <!-- 3. result visualization -->
      <semantic-table id='table' query='SELECT ?subject WHERE{}'></semantic-table>
    </semantic-search-result>
  </semantic-search-result-holder>
</semantic-search>
]]>
  </mp-code-example>

  <h2> Example: Search with composite query arguments (<code>OR</code> operator)</h2>
    This example demonstrates combining restrictions on search results using <code>OR</code> operator.
    <p>
      [[> Help:StructuredSearchSampleDataCheck]]
    </p>

    <mp-code-example>
<![CDATA[
<semantic-search id='demo-or'>
  <!-- 1. search definition -->
  <semantic-search-form-query
    query-template='{
      "queryString": "
        PREFIX foaf: <http://xmlns.com/foaf/0.1/>
        SELECT ?subject ?foundPainting WHERE {
          ?subject a foaf:Person
          FILTER(?anyRelationToPainting)
        }
      ",
      "arguments": {
        "anyRelationToPainting": {
          "operator": "or",
          "pattern": "
            ?painting <http://purl.org/dc/terms/creator> ?subject .
            ?painting <http://dbpedia.org/ontology/museum> ?museum .
            BIND(?painting as ?foundPainting)
          ",
          "arguments": {
            "painting": {"type": "xsd:anyURI", "optional": true},
            "museum": {"type": "xsd:anyURI", "optional": true}
          }
        }
      }
    }'
    fields='[
      {"id": "anyRelationToPainting", "label": "Any Relation to Painting", "maxOccurs": "unbound"}
    ]'>
    <semantic-form-composite-input for='anyRelationToPainting'
      fields='[
        {
          "id": "painting",
          "label": "Created painting",
          "xsdDatatype": "xsd:anyURI",
          "maxOccurs": "1",
          "autosuggestionPattern": "
            SELECT ?value ?label WHERE {
              ?value a <http://www.wikidata.org/entity/Q3305213> ;
                rdfs:label ?label .
              FILTER(REGEX(STR(?label), ?__token__, \"i\"))
            } LIMIT 30"
        },
        {
          "id": "museum",
          "label": "Museum with created painting",
          "xsdDatatype": "xsd:anyURI",
          "maxOccurs": "1",
          "autosuggestionPattern": "
            SELECT ?value ?label WHERE {
              ?value a <http://dbpedia.org/ontology/Museum> ;
                rdfs:label ?label .
              FILTER(REGEX(STR(?label), ?__token__, \"i\"))
            } LIMIT 30"
        }
      ]'>
      <semantic-form-autocomplete-input for='painting'></semantic-form-autocomplete-input>
      <semantic-form-autocomplete-input for='museum'></semantic-form-autocomplete-input>
    </semantic-form-composite-input>
    <semantic-form-errors></semantic-form-errors>
    <button type='button' name='submit' className='btn btn-secondary'>Search</button>
  </semantic-search-form-query>
  <!-- 2. facet is optional -->
	<!-- <semantic-search-facet></semantic-search-facet> -->
  <semantic-search-result-holder>
    <semantic-search-result> <!-- 3. result visualization -->
      <semantic-table id='table' query='SELECT ?subject ?foundPainting WHERE{}'></semantic-table>
    </semantic-search-result>
  </semantic-search-result-holder>
</semantic-search>
]]>
  </mp-code-example>

  <h2> Example: Search with composite query arguments (<code>AND</code> operator)</h2>
    This example demonstrates combining restrictions on search results using <code>AND</code> operator.
    <p>
      [[> Help:StructuredSearchSampleDataCheck]]
    </p>

    <mp-code-example>
<![CDATA[
<semantic-search id='demo-and'>
  <!-- 1. search definition -->
  <semantic-search-form-query
    query-template='{
      "queryString": "
        PREFIX foaf: <http://xmlns.com/foaf/0.1/>
        SELECT ?subject WHERE {
          ?subject a foaf:Person
          FILTER(?familiarPerson)
        }
      ",
      "arguments": {
        "familiarPerson": {
          "operator": "and",
          "pattern": "
            { ?subject <http://xmlns.com/foaf/0.1/knows> ?person }
            UNION
            { ?person <http://xmlns.com/foaf/0.1/knows> ?subject }
          ",
          "arguments": {
            "person": {"type": "xsd:anyURI"}
          }
        }
      }
    }'
    fields='[
      {"id": "familiarPerson", "label": "Familiar Person", "maxOccurs": "unbound"}
    ]'>
    <semantic-form-composite-input for='familiarPerson'
      fields='[
        {
          "id": "person",
          "label": "Familiar person",
          "xsdDatatype": "xsd:anyURI",
          "minOccurs": "1",
          "maxOccurs": "1",
          "autosuggestionPattern": "
            PREFIX foaf: <http://xmlns.com/foaf/0.1/>
            SELECT ?value ?label WHERE {
              ?value a foaf:Person ;
                rdfs:label ?label .
              FILTER(REGEX(STR(?label), ?__token__, \"i\"))
            } LIMIT 30"
        }
      ]'>
      <semantic-form-autocomplete-input for='person'></semantic-form-autocomplete-input>
    </semantic-form-composite-input>
    <semantic-form-errors></semantic-form-errors>
    <button type='button' name='submit' className='btn btn-secondary'>Search</button>
  </semantic-search-form-query>
  <!-- 2. facet is optional -->
	<!-- <semantic-search-facet></semantic-search-facet> -->
  <semantic-search-result-holder>
    <semantic-search-result> <!-- 3. result visualization -->
      <semantic-table id='table' query='SELECT ?subject WHERE{}'></semantic-table>
    </semantic-search-result>
  </semantic-search-result-holder>
</semantic-search>
]]>
  </mp-code-example>


    <h2> Example: Search with dependent form input elements</h2>

    <p>The following example demonstrates the capability of form elements being dependent on each other, e.g. if a user selects a country, a dependent field for a city should auto suggest only the cities of that country. The selected city is then used as argument for the search, in this case to find persons born in the selected city.</p>

    <p>This feature is inherited from the <code>semantic-form</code> and is described in full detail <semantic-link iri="[[resolvePrefix "Help:SemanticFormDependenciesConstraints"]]">here</semantic-link>. Note that also the example itself as well as the sample data is borrowed from the linked documentation. Please refer to the <semantic-link iri="[[resolvePrefix "Help:SemanticFormDependenciesConstraints"]]">field dependencies example</semantic-link> for further details and the setup.</p>

    <mp-code-example>
<![CDATA[

<semantic-search>

      <semantic-search-form-query
        query-template='{
          "queryString": "
            PREFIX ex: <http://example.com/resource/>
            SELECT ?subject WHERE {
              ?subject ex:birthPlace ?city .
            }
          ",
          "arguments": {
            "city": {"type": "xsd:anyURI"}
          }
        }'
        fields='[
            {
              "id": "country",
              "label": "Country",
              "xsdDatatype": "xsd:anyURI",
              "minOccurs": "1",
              "maxOccurs": "1",
              "valueSetPattern": "
                PREFIX ex: <http://example.com/resource/>
                SELECT ?value WHERE {
                  ?value a ex:Country .
                }
              "
            },
            {
              "id": "city",
              "label": "City",
              "xsdDatatype": "xsd:anyURI",
              "minOccurs": "1",
              "maxOccurs": "1",
              "autosuggestionPattern": "
                PREFIX ex: <http://example.com/resource/>
                PREFIX lookup: <http://www.metaphacts.com/ontologies/platform/repository/lookup#>
                SELECT ?value ?label WHERE {
                   SERVICE Repository:lookup {
                      ?value lookup:token ?__token__ ;
                          lookup:name ?label ;
                          lookup:limit 30 ;
                          lookup:type ex:City
                   }
                }
              "
            }
        ]'
        field-dependencies='[
            {
              "field": "city",
              "dependencies": {
                "country": "selectedCountry"
              },
              "autosuggestionPattern": "
                PREFIX ex: <http://example.com/resource/>
                PREFIX lookup: <http://www.metaphacts.com/ontologies/platform/repository/lookup#>
                SELECT (?city AS ?value) ?label WHERE {
                   SERVICE Repository:lookup {
                	  ?city lookup:token ?__token__ ;
                          lookup:name ?label ;
                          lookup:limit 30 ;
                          lookup:type ex:City
                   }
                   FILTER EXISTS { ?selectedCountry ex:city ?city . }
                }

              ",
              "valueSetPattern": "
                PREFIX ex: <http://example.com/resource/>
                PREFIX foaf: <http://xmlns.com/foaf/0.1/>
                SELECT (?city AS ?value) ?label WHERE {
                  ?selectedCountry ex:city ?city .
                  ?city a ex:City ;
                    rdfs:label ?label .
                } LIMIT 30
              "
            }
        ]'>
          <semantic-form-select-input for='country'></semantic-form-select-input>
          <semantic-form-autocomplete-input for='city'></semantic-form-autocomplete-input>
          <button type='button' name='submit' class='btn btn-secondary'>Search</button>
       </semantic-search-form-query>

      <semantic-search-result-holder>

        <semantic-search-result>
          <semantic-table id='table' query='SELECT ?subject WHERE{}' no-result-template='No data found for your search'></semantic-table>
        </semantic-search-result>
      </semantic-search-result-holder>
    </semantic-search>
]]>
     </mp-code-example>


  </div>
</div>
