<ol class="mp-breadcrumbs">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>

  <semantic-context repository="platformMetadata">
     <semantic-query 
                                   query='
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX Help: <http://help.metaphacts.com/resource/>
PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
prefix mpo:  <http://www.metaphacts.com/platform/ontology/> 

SELECT * WHERE {
    <[[this]]> skos:broader* ?item .
    OPTIONAL { ?item skos:preferredLabel ?skosLabel }
    OPTIONAL { ?item rdfs:label ?label }
    BIND (COALESCE(?skosLabel, ?label) AS ?itemDisplay)
    OPTIONAL { ?item mpo:order ?_order }
    BIND (COALESCE(?_order, 999) AS ?order)
} ORDER BY ASC(?order)' 
                                   template='{{> template}}'
                                   style='display: inline;'
                                   >
                     <template id='template'>
                       [[!-- render breadcrumbs seperated by / --]]
                       {{#each bindings}}
                       {{#if @last}} <li class="active">{{itemDisplay.value}}</li>{{else}} <li><semantic-context repository="default"><semantic-link title="{{itemDisplay.value}}" iri="{{item.value}}">{{itemDisplay.value}}</semantic-link></semantic-context></li> {{/if}}
                       {{/each}}
                     </template>
                   </semantic-query>
         </semantic-context>  

</ol>