[[#*inline "defaultOntodia"]]
	<ontodia
           settings="nostats"
           iri="[[this]]"
           hide-panels=true
           [[#if (ask "ASK {?? a ?type}")]]
             query="CONSTRUCT {?? a ?type}WHERE{?? a ?type}"
           [[/if]]

           [[!--
             if we are looking into the resource that is of type for which we have an ontology in the database, or the resource is concept from some
             ontology, then restrict class selector in ontodia to the classes from that ontology
           --]]
           [[#if (ask "ASK {?? a ?type. GRAPH ?g { ?ontology a owl:Ontology . { ?type a ?class } UNION { ?? a ?type } } }")]]
             [[> "http://www.metaphacts.com/resource/OntodiaViewOntologyOnlyClasses"]]
           [[else]]
             [[> "http://www.metaphacts.com/resource/OntodiaViewClassCheck" ]]
           [[/if]]

           [[#if readonly]]
           readonly=true
           [[/if]]
           accept-blank-nodes=false
  >
  </ontodia>
[[/inline]]

<div style="height: 85vh">
  <semantic-context repository="[[#if (urlParam "repository")]][[urlParam "repository"]][[else]]default[[/if]]">
    [[#if (hasPermission "api:ldp:container:<http://www.metaphacts.com/ontologies/platform#ontodiaDiagramContainer>:create:any")]]
      [[#if customOntodia]]
        [[> customOntodia]]
      [[else]]
        [[> defaultOntodia]]
      [[/if]]
    [[else]]
      [[#if customOntodia]]
        [[> customOntodia readonly=true]]
      [[else]]
        [[> defaultOntodia readonly=true]]
      [[/if]]
    [[/if]]
  </semantic-context>
</div>
