[[> Platform:OntologyAttributeStyles]]

<style>
  .ontologyKnowledgePanel__header {
    background-color: #FAFAF5;
    padding: 16px 15px 0 16px;
  }
  .ontologyKnowledgePanel__title {
    font-size: 18px;
  }
  .ontologyKnowledgePanel__type {
    color: #888888;
  }
  .ontologyKnowledgePanel__navigate {
    font-size: 12px;
  }

  .ontologyKnowledgePanel__content {
    padding: 6px 16px;
  }

  .ontologyKnowledgePanel__infoSection:not(:first-child) {
    padding-top: 12px;
  }
  .ontologyKnowledgePanel__contentLabel {
    font-weight: bold;
  }
  .ontologyKnowledgePanel__iri {
    line-break: anywhere;
    color: #007FFE;
  }
</style>
