[[> http://www.metaphacts.com/resource/breadcrumbs/HelpPage]]


<div class="page">
  <div class='page__body'>
    <h1>Page View Configuration</h1>
    <h2>Purpose</h2>
    
    <p><b>Page View Configuration</b> allows the application developers to:</p>
    <ul>
      <li>define the underlying HTML templates for the different Resource Views (please refer to <semantic-link title="PageStructure" uri='[[resolvePrefix "Help:PageStructure"]]'>Page Structure</semantic-link>, section <b>Resource Views</b> to learn what Resource Views are);</li>
        <li>tweak the Knowledge Graph Bar configuration: whether it is shown or not by default (to learn more about the Knowledge Graph Bar page element please go to corresponding section of <semantic-link title="PageStructure" uri='[[resolvePrefix "Help:PageStructure"]]'>Page Structure</semantic-link>).</li>
    </ul>
      
    <p>It is envisioned that there will be no need to alter <b>Page View Configuration</b> because the platform ships a comprehensive set of pre-defined meaningful configurations for generic <code>rdfs:Resource</code> instances, as well as for certain managed assets (named graphs, ontologies, vocabularies). If you are confident that the shipped defaults are insufficient, below we explain how to tailor them to your specific needs.</p>

    <h2>Configuration</h2>
<p>Configurations are defined in a <code>config/pageViewConfig.ini</code> file and application-specific definitions can be provided in <semantic-link title="Apps" uri='[[resolvePrefix "Help:Apps"]]'>apps</semantic-link>. Also the platform offers a UI to view and modify such definitions on the <semantic-link title="Templates" uri='[[resolvePrefix "Admin:Templates"]]'>templates administration page</semantic-link> (only visible to users with <code>root</code> permission).</p>

<p>The configurations use the resolved template or application IRI as key, e.g. <code>Template:http://xmlns.com/foaf/0.1/Person</code> for an instance of <code>foaf:Person</code>. Note that template resolution can be influenced with the <code>templateIncludeQuery</code> setting (available in Administration / System Settings / UI configuration).</p>
    <p>In principle <code>PageViewConfig.ini</code> does the following for any resource type template (section [defaults]) and then for selected templates (e.g. [Template:http://www.w3.org/2000/01/rdf-schema#Resource]):
      <ul>
        <li>matches each of the 3 Resource Views (Page View, Statements View, Graph View) with the templates that describe the content of each View;</li>
        <li>assignes the template to the Knowledge Graph Bar;</li>
        <li>sets wheter the Knowledge Graph Bar is visible or not;</li>
        <li>defines the default Resource View.</li>
    </ul>

<p>The default configuration for <code>rdfs:Resource</code> as well as the overall platform defaults look as follows:</p>

   <mp-code-block>
<![CDATA[
[defaults]
pageViewTemplateIri = Template:http://www.w3.org/2000/01/rdf-schema#Resource
statementsViewTemplateIri = http://www.metaphacts.com/resource/statements/Resource
graphViewTemplateIri = http://www.metaphacts.com/resource/graph/Resource
knowledgeGraphBarTemplateIri = http://www.metaphacts.com/resource/header/Resource
showKnowledgeGraphBar = true
defaultView = page

[Template:http://www.w3.org/2000/01/rdf-schema#Resource]
pageViewTemplateIri = Template:http://www.metaphacts.com/resource/EmptyResource
statementsViewTemplateIri = http://www.metaphacts.com/resource/statements/Resource
graphViewTemplateIri = http://www.metaphacts.com/resource/graph/Resource
knowledgeGraphBarTemplateIri = http://www.metaphacts.com/resource/header/Resource
showKnowledgeGraphBar = true
defaultView = graph
]]>
</mp-code-block>

    <h2>Examples</h2>
<p id="PageViewConfiguration-foaf:Person-example">A customization provided through an app for <code>foaf:Person</code> may partially override defaults (i.e. in this case configuration instructs to always show the Knowledge Graph Bar and use a custom template for the Graph View):</p>

   <mp-code-block>
<![CDATA[
[Template:http://xmlns.com/foaf/0.1/Person]
graphViewTemplateIri = http://www.metaphacts.com/resource/graph/Person
showKnowledgeGraphBar = true
]]>
</mp-code-block>

<p>Optionally, type-based breadcrumbs can be defined by specifying the <code>breadCrumbsTemplateIri</code>. Note that such breadcrumbs are independent of the application page content, and are shown on top of the knowledge graph bar.</p>

<p>The default breadcrumbs template (as it is applied for <code>rdfs:Resource</code> instances) looks as follows:</p>

<mp-code-block>
<![CDATA[
<ol class="mp-breadcrumbs">
<li>
<mp-link title="Home" url="/">Home</mp-link>
</li>
<li class="active">
<mp-label iri='&#91;&#91;this&#93;&#93;'></mp-label>
</li>
</ol>
]]>
</mp-code-block>

  </div>
</div>  
