<style>
  .ontologyKnowledgePanel__content .DataTable--global-filter-container {
    width: 100%;
  }
  .ontologyKnowledgePanel__content .DataTable--global-filter {
    padding: 4px 30px 5px 12px;
    font-size: 12px;
    border-radius: 4px;
  }
  .ontologyKnowledgePanel__content .DataTable--header-container {
    padding: 0 0 13px 0;
  }
  .ontologyKnowledgePanel .table-custom-row {
    flex-direction: column;
    align-items: initial;
  }

  .ontologyKnowledgePanel__element > :not(:last-child) {
    margin-right: 6px;
  }
  .ontologyKnowledgePanel__elementInherited {
    color: rgba(0,127,254,0.5);
  }
  .ontologyKnowledgePanel__elementInheritedTrigger, .ontologyKnowledgePanel__elementName {
    cursor: pointer;
  }
  .ontologyKnowledgePanel__elementInheritedTrigger:hover, .ontologyKnowledgePanel__elementInheritedTrigger:focus {
    color: #007FFE;
  }
  .ontologyKnowledgePanel__elementName {
    color: #007FFE;
    font-weight: bold;
  }
  .ontologyKnowledgePanel__elementType, .ontologyKnowledgePanel__elementCardinality {
    color: #666666;
  }
</style>