<style>
  .admin-icon-panel{
  	margin-top: 20px;
    margin-left:20px;
    float:left;
    font-size:12px;
    width:200px;
    cursor: pointer;
  }
  
  .admin-icon-panel:hover{
		background: #f5f5f5;
  }
  .admin-icon-panel:hover > .panel-footer{  
    background: #80808069;
  }
</style>

<mp-resource-link title="[[title]]" uri="[[pageLink]]" [[#if assets]]	urlqueryparam-repository="assets"[[/if]]>
  <div class="text-center card admin-icon-panel">
      <div class="card-body text-color">
        [[#if faIcon]]<span class="[[faIcon]]"></span>[[/if]]
        [[#if imgIcon]]<img src="[[imgIcon]]" height="60" />[[/if]]
      </div>
      <div class="card-footer" style="position: relative">
        [[title]]
      </div>
  </div>
</mp-resource-link>
