[[!-- Ontodia Toolbar actions included on Help:Ontodia --]]
<ul>
  <li><code>save</code> - save diagram;</li>
  <li><code>forceLayout</code> - perform Force layout;</li>
  <li><code>clearAll</code> - delete all elements from diagram;</li>
  <li><code>zoomIn</code> - zoom in diagram;</li>
  <li><code>zoomOut</code> - zoom out diagram;</li>
  <li><code>zoomToFit</code> - zoom to fit diagram;</li>
  <li><code>exportPng</code> - export diagram as PNG;</li>
  <li><code>exportSvg</code> - export diagram as SVG;</li>
  <li><code>print</code> - print diagram.</li>
</ul>
