[[#if (hasPermission "api:ldp:container:<http://www.metaphacts.com/ontologies/platform#ontodiaDiagramContainer>:read:any")]]
  <semantic-context repository="assets">
    <semantic-table query='
      prefix ontodia: <http://ontodia.org/schema/v1#>
      SELECT DISTINCT ?diagram ?label ?author ?modified ?diagramKindLabel ?context WHERE {
        ?diagram a ontodia:Diagram;
        rdfs:label ?label;
        <http://www.w3.org/ns/prov#wasAttributedTo> ?author;
        <http://www.w3.org/ns/prov#generatedAtTime> ?modified.
        [[#if resource]]
          ?diagram
            ontodia:layoutData/ontodia:hasElement/ontodia:resource|Platform:diagramForOntology|Platform:diagramForGraph|Platform:diagramForVocabulary
              <[[resource]]>.
        [[/if]]

        OPTIONAL {
          ?diagram <http://www.metaphacts.com/ontologies/platform#diagramKind> ?diagramKind .
          values (?diagramKind ?diagramKindLabel) {
            (Platform:OntologyDiagram "Ontology")
            (Platform:NamedGraphDiagram "Named Graph")
            (Platform:VocabularyDiagram "Vocabulary")
          }
        }
        OPTIONAL {
          ?diagram Platform:diagramForOntology|Platform:diagramForGraph|Platform:diagramForVocabulary ?context.
        }
      }'
      no-result-template='<i>No Diagrams.</i>'
      [[> Assets:DiagramsTableDescriptionInclude]]>
      [[> Assets:DiagramsTableResultsInclude]]
    </semantic-table>
  </semantic-context>

  [[#if (hasPermission "api:ldp:container:<http://www.metaphacts.com/ontologies/platform#ontodiaDiagramContainer>:create:any")]]
    [[#if createDefault]]
    <semantic-link iri='[[resolvePrefix "Assets:OntodiaView"]]'>
      <button class="btn btn-primary" style="margin-top: 10px;">Create Diagram</button>
    </semantic-link>
    [[else]]
    <semantic-link iri='[[this]]' urlqueryparam-view='graph' [[#if (urlParam "graph")]]urlqueryparam-graph='[[urlParam "graph"]]' [[/if]]>
      <button class="btn btn-primary" style="margin-top: 10px;">Create Diagram</button>
    </semantic-link>
    [[/if]]
  [[/if]]
[[/if]]
