[[!--

  1. If the diagramId is provided we fetch the kind and show the diagram
  2. If another parameter is provided (graph, ontologyIri or vocabularyIri) we provide ability to create a new diagram
  3. In all other cases we show simple diagram browser

  Diagram Kinds:
  1) OntologyDiagram:
    <[[diagramIri]]> <http://www.metaphacts.com/ontologies/platform#diagramForOntology> ?ontologyIri .
    <[[diagramIri]]> <http://www.metaphacts.com/ontologies/platform#diagramKind> <http://www.metaphacts.com/ontologies/platform#OntologyDiagram> .
  2) GraphDiagram:
    <[[diagramIri]]> <http://www.metaphacts.com/ontologies/platform#diagramForGraph> ?graphIri .
    <[[diagramIri]]> <http://www.metaphacts.com/ontologies/platform#diagramKind> <http://www.metaphacts.com/ontologies/platform#NamedGraphDiagram> .
  2) VocabularyDiagram:
    <[[diagramIri]]> <http://www.metaphacts.com/ontologies/platform#diagramForVocabulary> ?vocabularyIri .
    <[[diagramIri]]> <http://www.metaphacts.com/ontologies/platform#diagramKind> <http://www.metaphacts.com/ontologies/platform#VocabularyDiagram> .
--]]

[[> "http://www.metaphacts.com/resource/OntodiaUserTemplates" ]]
[[> "http://www.metaphacts.com/resource/assets/OntodiaPresetUtils"]]

[[> "http://www.metaphacts.com/resource/assets/OntodiaOntologyViewPreset"]]
[[> "http://www.metaphacts.com/resource/assets/OntodiaBasicViewPreset"]]
[[> "http://www.metaphacts.com/resource/assets/OntodiaVocabularyViewPreset"]]
[[> "http://www.metaphacts.com/resource/assets/OntodiaNamedGraphViewPreset"]]

<style>
  .page--fullheight {
    padding-top: 42px;
  }
</style>


[[#if (urlParam "diagram")]]
    [[> ResourceDiagram diagramIri=(urlParam "diagram")]]
[[else]]
  [[#if (urlParam "ontologyIri")]]
    [[#> OntologyGraphSettings ontologyIri=(urlParam "ontologyIri")]]
    [[> OntologyGraphBreadcrumbs]]
    <div class="page--fullheight">
      [[> OntologyGraphBody]]
    </div>
    [[/OntologyGraphSettings]]
  [[else]]
    [[#if (urlParam "graph")]]
      [[#> NamedGraphGraphSettings graphIri=(urlParam "graph")]]
      <div>
        [[> NamedGraphGraphBreadcrumbs]]
        <div class="page--fullheight">
          [[> NamedGraphGraphBody]]
        </div>
      </div>
      [[/NamedGraphGraphSettings]]
    [[else]]
      [[#if (urlParam "vocabulary")]]
        [[#> VocabularyGraphSettings vocabularyIri=(urlParam "vocabulary")]]
        <div>
          [[> VocabularyGraphBreadcrumbs]]
          <div class="page--fullheight">
            [[> VocabularyGraphBody]]
          </div>
        </div>
        [[/VocabularyGraphSettings]]
      [[else]]
        [[#> BasicGraphSettings]]
        <div>
          [[> BasicGraphBreadcrumbs]]
          <div class="page--fullheight">
            [[> BasicGraphBody]]
          </div>
        </div>
        [[/BasicGraphSettings]]
      [[/if]]
    [[/if]]
  [[/if]]
[[/if]]


[[#*inline "ResourceDiagram"]]
[[!-- Template parameters: diagramIri --]]
<semantic-context repository='assets'>
  <semantic-query
     query="SELECT ?diagramKind WHERE {
       <[[diagramIri]]> <http://www.metaphacts.com/ontologies/platform#diagramKind> ?diagramKind .
     } LIMIT 1"
     template='{{> body-template diagramKind=bindings.0.diagramKind}}'
     no-result-template='{{> body-template-null-graph}}'>
    <template id='body-template'>
        {{#ifCond diagramKind.value "===" "http://www.metaphacts.com/ontologies/platform#OntologyDiagram"}}
          [[#> OntologyGraphSettings]]
          <div>
            [[> OntologyGraphBreadcrumbs]]
            <div class="page--fullheight">
              [[> OntologyGraphBody id='ontodia']]
            </div>
          </div>
          [[/OntologyGraphSettings]]
        {{else}} {{#ifCond diagramKind.value "===" "http://www.metaphacts.com/ontologies/platform#VocabularyDiagram"}}
          [[#> VocabularyGraphSettings]]
          <div>
            [[> VocabularyGraphBreadcrumbs]]
            <div class="page--fullheight">
              [[> VocabularyGraphBody id='ontodia']]
            </div>
          </div>
          [[/VocabularyGraphSettings]]
        {{else}} {{#ifCond diagramKind.value "===" "http://www.metaphacts.com/ontologies/platform#NamedGraphDiagram"}}
          [[#> NamedGraphGraphSettings]]
          <div>
          [[> NamedGraphGraphBreadcrumbs]]
            <div class="page--fullheight">
              [[> NamedGraphGraphBody id='ontodia']]
            </div>
          </div>
          [[/NamedGraphGraphSettings]]
        {{else}}
          [[#> BasicGraphSettings]]
          <div>
            [[> BasicGraphBreadcrumbs]]
            <div class="page--fullheight">
              [[> BasicGraphBody id='ontodia']]
            </div>
          </div>
          [[/BasicGraphSettings]]
        {{/ifCond}}{{/ifCond}}{{/ifCond}}
    </template>
    <template id='body-template-null-graph'>
        [[#> BasicGraphSettings]]
        <div>
          [[> BasicGraphBreadcrumbs]]
          <div class="page--fullheight">
            [[> BasicGraphBody id='ontodia']]
          </div>
        </div>
        [[/BasicGraphSettings]]
    </template>
  </semantic-query>
</semantic-context>
[[/inline]]
