[[> http://www.metaphacts.com/resource/breadcrumbs/HelpPage]]

<div class="page">
  <div class='page__body'>
    <h1> Basic System Configuration </h1>
    This page describes how to adjust general system behavior via configuration properties. 

    <h2> Configuration Properties</h2>

    Configuration properties are divided into so called "configuration groups": 

    <ul>
      <li>Environment Configuration Group</li> 
      <li>Global Configuration Group</li> 
      <li>UI Configuration Group</li>
      <li>Cache Configuration Group</li>
    </ul>
    <p>
      Properties in these groups might be shadowed via JVM runtime parameters, for example, depending on the deployment mode one may particular supply environment specific groups via JVM runtime parameters. 
      This can by done by supplying <span class="inline-code">"-Dconfig.{configGroup}.{propertyName}={propertyValue}"</span>, 
      where "configGroup"" is the identifier of the configuration (either "environment", "global", "ui", or "cache" for the groups, respectively) and "propertyName" is the name of the property in the given group.
      Shadowed parameters can not be overwritten or changed during runtime.
    </p>

    <mp-json-renderer
      get-url='/rest/config/allConfigurationParametersDoc'
      template='{{> configuration-properties}}'>
      <template id='configuration-properties'>
        <div>
          {{#each this as |group|}}
          <h3>{{group.groupName}}</h3>
          <p>{{{group.groupDescription}}}</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Property</th>
                <th>Type</th>
                <th>Restart Required</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {{#each group.configParamInfo as |element|}}
              <tr>
                <td>{{element.name}}</td>
                <td>{{element.type}}</td>
                <td>{{element.restartRequired}}</td>
                <td>{{{element.description}}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{/each}}
        </div>
      </template>
    </mp-json-renderer>
  </div>
</div>


