[[> http://www.metaphacts.com/resource/breadcrumbs/HelpPage]]

<style>
  .pageEditorAnimation {
    border: 1px solid gray;
    max-width: 100%;
    margin-bottom: 20px;
  }
</style>

<div class="page">
  <div class='page__body'>
    <h1>Template Page Editor</h1>
    <p>The <semantic-link iri='[[resolvePrefix "Help:TemplateAndApplicationPages"]]'>Template System</semantic-link> is the basis for rapid semantic applications development in the platform. A core part for the app development experience is the visual template editor.</p>

    <p>As of the 4.0 release the platform integrates a state-of-the-art <a href='https://microsoft.github.io/monaco-editor/' target='_blank'>editor</a> (based on the editor that powers Microsoft Visual Studio Code). This allows us to provide a smooth editing experience with intelligent features such as on-hover information, auto-completion and syntax validation.</p>

    <p>The individual features are presented in more detail below.</p>
      

    <h2>Editor features</h2>

    <h3>Feature: on-hover info for tags and attributes</h3>
    <p>The language service provides <i>tag</i> and <i>attribute</i> descriptions for basic HTML tags and platform components.</p>
    <p>To access this infortmation, move the mouse over a component tag or any attribute, or alternatively place the text cursor inside and press <code>Ctrl/Cmd+K</code> then <code>Ctrl/Cmd+I</code>.</p>
    <img class='pageEditorAnimation' src='/images/help/page-editor/attribute-hover.gif'>

    <h3>Feature: link to the component documentation</h3>
    <p>For platform components the language service provides links to their respective documentation pages. This information can be accessed when moving the mouse over a component tag.</p>
    <img class='pageEditorAnimation' src='/images/help/page-editor/help-link.gif'>

    <h3>Feature: jump to the included template page</h3>
    <p>The language service marks included template references as links and allows to jump to them directly from the editor.</p>
    <p>To use this feature, hover the mouse over any template reference or set text cursor inside and press <code>Ctrl/Cmd+Click</code>.</p>
    <img class='pageEditorAnimation' src='/images/help/page-editor/include-link.gif'>

    <h3>Feature: tag completion</h3>
    <p>A very powerful feature is that of auto-completion: the language service auto-completes basic HTML tags as well as platform component by pressing <code>Ctrl/Cmd+Space</code> (while typing).</p>
    <img class='pageEditorAnimation' src='/images/help/page-editor/tag-completion.gif'>

    <h3>Feature: attribute completion</h3>
    <p>Similarly to tag completion, the language service can complete attributes of platform components.</p>
    <p>To use this feature, start typing attribute or press <code>Ctrl/Cmd+Space</code> while typing.</p>
    <img class='pageEditorAnimation' src='/images/help/page-editor/attribute-completion.gif'>

    <h3>Feature: JSON syntax highlighting in attributes</h3>
    <p>The template language defines custom syntax highlighting which recognizes embedded JSON in attribute values.</p>
    <img class='pageEditorAnimation' src='/images/help/page-editor/json-attribute-highlighting.png'>

    <h3>Feature: display tag and attribute warnings (experimental)</h3>
    <p>The visual editor supports the template developers with syntactical validation checks. This feature is disabled by default and can be can be enabled manually by toggling the "Show warnings" switch.</p>
    <p>The following types of warnings are currently available:</p>
    <ul>
      <li>unclosed non-void HTML tags</li>
      <li>required but missing attributes</li>
      <li>unknown (mistyped) attributes</li>
      <li>incorrect datatype for attribute value</li>
      <li>invalid JSON syntax inside attribute values</li>
    </ul>

    <img class='pageEditorAnimation' src='/images/help/page-editor/attribute-diagnostics.gif'>

    <h3>Feature: HTML formatting (experimental)</h3>
    <p>The language service supports formatting of selected text or the whole template document.</p>
    <p>This feature is considered experimental: only pure HTML and client-side templates are supported and formatting may or may not work with backend Handlebars syntax.</p>
    <p>To use this feature, open context menu for selected text and choose "Format Selection" or "Format Document", or press <code>Alt/Cmd+Shift+F</code> to format selected text or <code>Ctrl/Cmd+K</code> then <code>Ctrl/Cmd+F</code> to format whole document.</p>

  </div>
</div>
