[[!--
  CAUTION: All inline templates are referenced from Help:LookupService,
  so don't remove them even if they are empty. Otherwise page loading will fail.
--]]

[[#*inline "lookupServiceArchitectureImage"]]
  <div style='position: relative'>
    <img src='/images/help/lookupservice-architecture.png' />
    <div style='
      position: absolute;
      top: 45px;
      left: 65px;
      width: 200px;
      height: 222px;
      background-color: white;
      pointer-events: none;
    '></div>
  </div>
[[/inline]]

[[#*inline "lookupAdditionalEntryPointsDescription"]]
  [[!-- No additional entries --]]
[[/inline]]

[[#*inline "sparqlIntegrationDescription"]]
  [[!-- No description --]]
[[/inline]]

[[#*inline "dataClientIntroText"]]
<p>Lookup service can be used via the Data Client interface from a set of UI components.</p>
[[/inline]]

[[#*inline "lookupServiceExtensions"]]
  [[!-- No extensions --]]
[[/inline]]

[[#*inline "lookupServiceExtensionsTable"]]
  [[!-- No extensions --]]
[[/inline]]
