<div class="knowledgeGraphBar__actions">
  <div class="btn-group">
    <semantic-link-container iri='[[this]]' urlqueryparam-view='graph' [[#if (urlParam "graph")]]urlqueryparam-graph='[[urlParam "graph"]]'[[/if]]>
      <button type="button" class="btn btn-default knowledgeGraphBar__graphAction" title="Graph"></button>
    </semantic-link-container>
    <semantic-link-container iri='[[this]]' urlqueryparam-view='statements' [[#if (urlParam "graph")]]urlqueryparam-graph='[[urlParam "graph"]]'[[/if]]>
      <button type="button" class="btn btn-default knowledgeGraphBar__statementsAction" title="Statements"></button>
    </semantic-link-container>
    <semantic-link-container iri='[[this]]' urlqueryparam-view='page' [[#if (urlParam "graph")]]urlqueryparam-graph='[[urlParam "graph"]]'[[/if]]>
      <button type="button" class="btn btn-default knowledgeGraphBar__pageAction" title="Page"></button>
    </semantic-link-container>
  </div>
</div>
