[[> http://www.metaphacts.com/resource/breadcrumbs/HelpPage]]


<div class="page documentation">
  <div class='page__body'>
    <h1>Table Component </h1>
    <div class="documentation__intro">
      <div class="documentation__intro__description">
          Tables are the most simple form rendering the result of SPARQL SELECT queries. Tables should be used whenever (but only if) tabular data needs to be displayed.

          <p>Scales easily up to thousands of entities in a modern web browser, however, the size and complexity of custom <code>cellTemplate</code>(s) or <code>tuple-template</code>(s) may impact the overall performance.</p>
      </div>
      <div class="documentation__intro__demo" id='demo1'>
           <semantic-table
             query="[[>Help:SemanticTableSampleQuery]]"
             number-of-displayed-rows=2
             column-configuration='[
               {"variableName":"s", "displayName":"Subject"}, 
               {"variableName":"p", "displayName":"Predicate"},  
               {"variableName":"o", "displayName":"Object"}
             ]'
             options='{
               "showFilter":false
             }'
           >
           </semantic-table>
        </div>
    </div>
    <div style="clear:both;"></div>

    <h2>Configuration </h2>
    <mp-documentation type="SemanticDataTableConfig"></mp-documentation>

    <h2>Examples </h2>
    <h3>Custom Column Configuration and Cell Templates </h3>

    <div class="documentation__example">
      <div class="documentation__example__description">
        Specifies custom column header names as well as uses a handlebars.js <code>cellTemplate</code> strings for custom rendering of the table cells.
      </div>
      <div class="documentation__example__demo" id='demo2'>
        <mp-code-example>
<![CDATA[
<semantic-table 
  query="[[>Help:SemanticTableSampleQuery]]"
  column-configuration='[
  	{"variableName": "s", "displayName": "Subject"}, 
  	{"variableName": "p", "displayName": "Predicate"},  
  	{
  	"displayName": "Object", 
  	"cellTemplate": "<i class=\"fa fa-user\" style=\"margin-right: 5px\"></i>{{o.value}}" 
  	}
  ]'
></semantic-table>
]]>
        </mp-code-example>
      </div>
    </div>

		<h3>Custom Default Cell Template</h3>

    <div class="documentation__example">
      <div class="documentation__example__description">
        In addition to column specific <code>cellTemplate</code>(s), also a custom default cell template can be configured. This can be used to customize rendering behavior without having to specifiy a template for each column. The column value matching the specified <code>variableName</code> is available with the <code>cellValue</code> variable.
      </div>
      <div class="documentation__example__demo" id='demo2'>
        <mp-code-example>
<![CDATA[
<semantic-table
    query="
      prefix person: <http://example.com/person/> 
      prefix foaf: <http://xmlns.com/foaf/0.1/>
      SELECT ?person ?age WHERE {                    
        VALUES (?person ?prop ?age) { 
          (person:alice foaf:age 35)
          (person:bob foaf:age 17)
        }
      }"
    options='{"defaultCellTemplate": "{{> defaultCell}}"}'
>
  <template id='defaultCell'>
    {{#if (isIri cellValue)}}
      <semantic-link iri="{{cellValue.value}}" target="_blank"></semantic-link>&amp;nbsp;<i class="fa fa-external-link" aria-hidden="true"></i>
    {{else}}
      {{cellValue.value}}
    {{/if}}
  </template>  
</semantic-table>
]]>
        </mp-code-example>
      </div>
    </div>

    <h3>Optional columns</h3>

    <div class="documentation__example">
      <div class="documentation__example__description">
        Columns can be hidden by default with the <code>visible</code> parameter. The column selection tool is shown automatically if there are optional columns, but can also be explicitly enabled with the <code>showColumnToggle</code> option.
      </div>
      <div class="documentation__example__demo" id='demo2'>
        <mp-code-example>
<![CDATA[
<semantic-table
    query='
      prefix person: <http://example.com/person/> 
      prefix foaf: <http://xmlns.com/foaf/0.1/>
      SELECT ?person ?age ?gender WHERE {                    
        VALUES (?person ?prop ?age ?gender) { 
          (person:alice foaf:age 35 "female")
          (person:bob foaf:age 17 "male")
        }
      }'
    column-configuration='[
      {"variableName": "person", "displayName": "Person"},
      {"variableName": "age", "displayName": "Age"},
      {"variableName": "gender", "displayName": "Gender", "visible": false}
    ]'>
</semantic-table>
]]>
        </mp-code-example>
      </div>
    </div>

    <h3>Sorting and Filtering</h3>

		<div class="documentation__example">
      <div class="documentation__example__description">
				Typically searching and filtering applies to the displayed data, i.e. the labels for resources or the literal values. 
When specifying a <code>column-configuration</code> with a custom <code>cellTemplate</code>, sorting and filtering does not apply to the content shown using the cell template. Instead, a <code>variableName</code> can be specified for a column (in addition to the cell template), in which case the variable's content is used for sorting and filtering.
			</div>
      <div class="documentation__example__demo" id='demo3'>
              <mp-code-example>
<![CDATA[
<semantic-table 
  query="[[>Help:SemanticTableSampleQuery]]"
  column-configuration='[
  	{"variableName": "s",
    "displayName": "Subject",
    "cellTemplate": "<i class=\"fa fa-user\" style=\"margin-right: 5px\"></i><semantic-link iri={{s.value}} />" 
    }
  ]'
></semantic-table>
]]>
        </mp-code-example>
      </div>
    </div>
      
      
    <h3> Disabling Filter and Custom Pagination </h3>

    <div class="documentation__example">
      <div class="documentation__example__description">
        <p>This example demonstrates how filtering components can be disabled. Moreover, the number of displayed rows per page is configured to two, with the option for the user to change it.</p>
        <p>By setting <code>pageSizeSelection</code> to <code>true</code> the pre-defined default values are offered for selection. Optionally, this can be an array to customize the offered values, e.g. <code>[5, 10, 15, 20]</code>.</p>
      </div>
      <div class="documentation__example__demo" id='demo3'>
        <mp-code-example>
<![CDATA[
<semantic-table
  query="[[>Help:SemanticTableSampleQuery]]"
  number-of-displayed-rows=2
  options='{"showFilter": false, "pageSizeSelection": true}'
></semantic-table>
]]>
        </mp-code-example>
      </div>
    </div>

    <h3>Custom Tuple Template (Grid View) </h3>

    <div class="documentation__example">
      <div class="documentation__example__description">
        Specifying a custom <code>tuple-template</code> will render a grid, but offers all standard table functionality (e.g. filtering, pagination).
      </div>
      <div class="documentation__example__demo" id='demo4'>
        <mp-code-example>
<![CDATA[
<semantic-table
  query="[[>Help:SemanticCarouselSampleQuery]]"
  number-of-displayed-rows=2
  tuple-template='
    <div style="padding:10px;">
      <div class="text-center panel panel-default" style="border:none;margin-right:20px;font-size:12px;height:120px;width: 100%;">
        <div class="panel-body" style="height: 100px;">
	        <img src="{{thumbnail.value}}" style="max-width:100px; margin: 0 auto;" class="img-rounded">
        </div>
        <div class="panel-footer" style="position: relative;  border: none;">
  	      <semantic-link title="{{label.value}}" class="grid-resource-link" uri="{{subject.value}}">
    	  	  {{label.value}}
      	  </semantic-link>
        </div>
      </div>
    </div>
  '
></semantic-table>
]]>
        </mp-code-example>
      </div>
    </div>
    
    
    <h3>Numerical sorting</h3>

    <div class="documentation__example">
      <div class="documentation__example__description">
        The table supports built-in numerical sorting using XML schema information, i.e. literals with data type <code>xsd:Number</code> and specialized types (integer, float, double, ...). Optionally the default sort column can be preconfigured using the <code>sorting</code> option.
      </div>
      <div class="documentation__example__demo" id='demo4'>
        <mp-code-example>
<![CDATA[
<semantic-table
    query="
      prefix person: <http://example.com/person/> 
      prefix foaf: <http://xmlns.com/foaf/0.1/>
      SELECT ?person ?age WHERE {                    
        VALUES (?person ?prop ?age) { 
          (person:alice foaf:age 35)
          (person:lisa foaf:age 1)
          (person:martin foaf:age 26)
          (person:max foaf:age 17)
        }
      }"
    options='{"sorting": {"age": "desc"}}'
></semantic-table>
]]>
        </mp-code-example>
      </div>
    </div>
    
    <h3>Column Filtering</h3>
    
    <div class="documentation__example">
      <div class="documentation__example__description">
        <p>The table supports filtering on both a global and column level. Column filtering can be done by either using the filter icon in the column header or the <i>Filter columns</i> button in the header.</p>
        <p>If <code>showFilter</code> is set for a given column, the filter type is automatically selected depending on the data (e.g. the <i>age</i> column in the example uses the <code>number</code> filter). The type can be set explicitly with the <code>filterType</code> option.</p>
      </div>
      <div class="documentation__example__demo" id='demo4'>
        <mp-code-example>
<![CDATA[
<semantic-table
    query='
      prefix person: <http://example.com/person/> 
      prefix foaf: <http://xmlns.com/foaf/0.1/>
      SELECT ?person ?gender ?age WHERE {                    
        VALUES (?person ?gender ?prop ?age) { 
          (person:alice "female" foaf:age 35)
          (person:lisa "female" foaf:age 1)
          (person:martin "male" foaf:age 26)
          (person:max "male" foaf:age 17)
        }
      }'
    column-configuration='[
      {"variableName": "person", "showFilter": true, "filterType": "multiselect"},
      {"variableName": "gender", "showFilter": true},
      {"variableName": "age", "showFilter": true}
    ]'
></semantic-table>
]]>
        </mp-code-example>
      </div>
    </div>
    
    <h3>Grouping</h3>
    
    <div class="documentation__example">
      <div class="documentation__example__description">
        <p>The table supports grouping rows and aggregation of the grouped values. The option <code>enableGrouping</code> enables interactive grouping through the <i>Group columns</i> button in the header.</p>
        <p>The default aggregation shows a list of unique values for up to a maximum of three values and the number of unique values if there are more. Different aggregations can be set with the <code>aggregation</code> and <code>aggregationCellTemplate</code> options for each column.</p>
      </div>
      <div class="documentation__example__demo" id='demo4'>
        <mp-code-example>
<![CDATA[
<semantic-table
    query='
      prefix person: <http://example.com/person/> 
      prefix foaf: <http://xmlns.com/foaf/0.1/>
      SELECT ?person ?gender ?age WHERE {                    
        VALUES (?person ?gender ?prop ?age) { 
          (person:alice "female" foaf:age 34)
          (person:lisa "female" foaf:age 10)
          (person:carol "female" foaf:age 22)
          (person:martin "male" foaf:age 26)
          (person:max "male" foaf:age 17)
          (person:bob "male" foaf:age 41)
          (person:eve "female" foaf:age 31)
        }
      }'
    options='{
      "enableGrouping": true,
      "groupingOptions": {"groupedBy": ["gender"]}
    }'
    column-configuration='[
      {"variableName": "person"},
      {"variableName": "gender"},
      {
        "variableName": "age",
        "aggregation": "average",
        "aggregationCellTemplate": "Average: {{value}}"
      }
    ]'
></semantic-table>
]]>
        </mp-code-example>
      </div>
    </div>
    
    
    <div class="documentation__example">
      <div class="documentation__example__description">
        A configuration option that is useful for search results is <code>showOnlyAggregatedValue</code>. It can be used to show a summarized search result (including potentially configured context specific values) without showing the sub rows. See <semantic-link iri='[[resolvePrefix "Help:SemanticSearch"]]'>Semantic Search</semantic-link> for further details.
      </div>
      <div class="documentation__example__demo" id='demo4'>
        <mp-code-example>
<![CDATA[
<semantic-table
    query='
      prefix person: <http://example.com/person/> 
      prefix foaf: <http://xmlns.com/foaf/0.1/>
      SELECT ?person ?gender ?age WHERE {                    
        VALUES (?person ?gender ?prop ?age) { 
          (person:alice "female" foaf:age 34)
          (person:lisa "female" foaf:age 10)
          (person:carol "female" foaf:age 22)
          (person:martin "male" foaf:age 26)
          (person:max "male" foaf:age 17)
          (person:bob "male" foaf:age 41)
          (person:eve "female" foaf:age 31)
        }
      }'
    options='{
      "enableGrouping": false,
      "groupingOptions": {"groupedBy": ["gender"], "showOnlyAggregatedValue": true}
    }'
    column-configuration='[
      {"variableName": "person"},
      {"variableName": "gender"},
      {
        "variableName": "age",
        "aggregation": "average",
        "aggregationCellTemplate": "Average: {{value}}"
      }
    ]'
></semantic-table>
]]>
        </mp-code-example>
      </div>
    </div>

    
  </div>
</div>