[[> "http://www.metaphacts.com/resource/OntodiaUserTemplates" ]]
[[> "http://www.metaphacts.com/resource/assets/OntodiaPresetUtils"]]

[[> "http://www.metaphacts.com/resource/assets/OntodiaNamedGraphViewPreset"]]

<style>
  #named-graph-ontodia {
	height: 100%;
    display: flex;
    flex-direction: column;
  }
</style>

[[!-- there was GraphNodeLimit, but it was impossible to make it work in inline partial
  NewNamedGraphParameters
--]]



[[#> NamedGraphGraphSettings graphIri=(urlParam "graph")]]
<div class="page--fullheight">
  <div id="named-graph-ontodia">

    <semantic-context repository="default">
      <semantic-query
        query='SELECT (COUNT(DISTINCT *) as ?number) WHERE {
          GRAPH <[[urlParam "graph"]]> { {
            SELECT * WHERE { ?Subject ?Property ?Object} LIMIT 500
          } }
        } LIMIT 1'
        template='{{> graphWarning number=bindings.0.number}}' >
        <template id='graphWarning'>
          {{#ifCond number.value ">=" 500}}
            <bs-alert variant="warning" style='flex: 0 0 auto;'>
              The visualization below is a preview of <strong>500 statements</strong> from the named graph.
              However, the absolute number of statements in the graph seems to be larger and some edges or nodes might be missing.
            </bs-alert>
          {{/ifCond}}
        </template>
      </semantic-query>
    </semantic-context>
    [[#> NamedGraphGraphBody]]
      [[#*inline "NewNamedGraphParameters"]]
        query='CONSTRUCT { ?Subject ?Property ?Object } WHERE {
            GRAPH {{graphIri}} { ?Subject ?Property ?Object FILTER ISIRI(?Object) }
        } LIMIT 500'
      [[/inline]]
    [[/NamedGraphGraphBody]]
  </div>
</div>
[[/NamedGraphGraphSettings]]
