<style>
  .ontodia-advanced-tabs {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .ontodia-advanced-tabs > .tab-content {
    flex: 1 1 auto;
    display: flex;
  }

  .ontodia-advanced-tabs > .nav-tabs {
    flex: 0 0 auto;
  }

  .ontodia-advanced-tabs .tab-content > div {
    flex: 1 1 auto;
    padding: 0;
  }

  .ontodia-advanced-tabs > .tab-content > .active {
    display: flex;
  }
</style>

<mp-workspace-layout>
  <mp-workspace-row>
    <mp-workspace-item id='paper' undocked=true>
      <ontodia-canvas [[> OntodiaCanvasTemplatesDeclaration]]>
        [[> OntodiaCanvasTemplates ]]
        <ontodia-toolbar dock="sw">
          [[#if readonly]][[else]]
          <div class='btn-group btn-group-sm' style='margin-right: 10px;'>
            <ontodia-save-button dropup=true></ontodia-save-button>
          </div>
          [[/if]]

          <div class='btn-group btn-group-sm' style='margin-right: 10px;'>
            <button name='zoomIn' class='btn btn-default' title='Zoom in'><i class='fa fa-search-plus'></i></button>
            <button name='zoomOut' class='btn btn-default' title='Zoom out'><i class='fa fa-search-minus'></i></button>
            <button name='zoomToFit' class='btn btn-default' title='Fit to screen'><i class='fa fa-arrows-alt'></i></button>
          </div>

          <div class='btn-group btn-group-sm' style='margin-right: 10px;'>
            <button name='clearAll' class='btn btn-default'><i class='fa fa-trash'></i> Clear All</button>
          </div>

          <div class='btn-group btn-group-sm' style='margin-right: 10px;'>
            <button name='forceLayout' class='btn btn-default'>
              <i class='fa fa-snowflake-o'></i> Force layout
            </button>
          </div>

          <div class='btn-group btn-group-sm' style='margin-right: 10px;'>
            <bs-dropdown bs-size='sm' dropup="true">
              <bs-dropdown-toggle>Export</bs-dropdown-toggle>
              <bs-dropdown-menu>
                <bs-menu-item name='exportPng'><i class='fa fa-picture-o'></i> Export PNG</bs-menu-item>
                <bs-menu-item name='exportSvg'><i class='fa fa-picture-o'></i> Export SVG</bs-menu-item>
                <bs-menu-item name='print'><i class='fa fa-print'></i> Print</bs-menu-item>
              </bs-dropdown-menu>
            </bs-dropdown>
          </div>

          </ontodia-toolbar>
          <ontodia-halo></ontodia-halo>
          <ontodia-halo-link></ontodia-halo-link>
        <ontodia-navigator></ontodia-navigator>
      </ontodia-canvas>
    </mp-workspace-item>
      <mp-workspace-item default-size=275 id='tabs-item'>
        <bs-tabs id="tabs"
        [[#if focusView]]
          default-active-key="contents"
        [[else]][[#if focusCreate]]
          default-active-key="database"
        [[else]]
          default-active-key="contents"
        [[/if]] [[/if]]

         	class='ontodia-advanced-tabs'
         >
          <bs-tab event-key="contents" title='Contents'>
            <ontodia-element-search></ontodia-element-search>
          </bs-tab>
          <bs-tab event-key="database" title='[[#if databaseTabTitle]][[databaseTabTitle]][[else]]Database[[/if]]'>
            <mp-workspace-layout>
            	<mp-workspace-column undocked=true>
              	<mp-workspace-item heading="Classes" id="classes">
                	<ontodia-class-tree></ontodia-class-tree>
                </mp-workspace-item>
                <mp-workspace-item heading="Instances" id="instances">
                	<ontodia-instances-search></ontodia-instances-search>
                </mp-workspace-item>
            	</mp-workspace-column>
          	</mp-workspace-layout>
          </bs-tab>
        </bs-tabs>
      </mp-workspace-item>
  </mp-workspace-row>
</mp-workspace-layout>
