<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <semantic-link title="Help" iri="http://help.metaphacts.com/resource/Start">Help</semantic-link>
  </li>
  <li class="active">Workflow System</li>
</ol>

<div class="page">
  <div class='page__body'>
  <h1>Workflow System</h1>
    
  <p>Using the workflow components provided by the platform simple processes can be modelled and implementated. As an example use case consider for instance a data publication process, where the information only gets published after explicit approval by a reviewer.</p>
    
    <p><b>Note:</b> The primary goal is not to replicate any existing complex workflow systems, as interfacing with them in many cases would be a better option. The focus of this feature is to offer built-in support for managing the data or resource publication process.</p>
    
    <h2>What is workflow</h2>
   
    <p>
      It is assumed that workflow is a publication process that goes through several stages (in the following also referred to as <i>steps</i>) with tasks for each step assigned to specific users or groups of the system.
    </p>
    
    <h2>Defining workflows</h2>
    <p>
      A workflow in the platform is defined using the basic concepts defined by the workflow ontology. In the following we document the ontology, and provide and example of a concrete simplistic workflow definition.
    </p>
    
    
    <h3>Workflow ontology</h3>
    <p>
      The workflow ontology is presented in the diagram below, switch the tab to <b>RDF/Turtle</b> to see the ontology serialized in RDF
    </p>
    <bs-tabs unmount-on-exit=false>
      <bs-tab event-key="1" title="Ontology diagram">
        <div style='height: 500px; margin: 20px 0;'>
          <ontodia hide-navigation-confirmation=true
            query='[[> workflowOntologyConstructQuery]]'>
            <ontodia-data-providers>
              <ontodia-rdf-provider provision-query='[[> workflowOntologyConstructQuery]]'>
              </ontodia-rdf-provider>
            </ontodia-data-providers>

            <ontodia-canvas>
            	<ontodia-toolbar dock='sw'>
            	  <div class='btn-group btn-group-sm' style='margin-right: 10px;'>
                  <button name='zoomIn' class='btn btn-secondary' title='Zoom in'><i class='fa fa-search-plus'></i></button>
                  <button name='zoomOut' class='btn btn-secondary' title='Zoom out'><i class='fa fa-search-minus'></i></button>
                  <button name='zoomToFit' class='btn btn-secondary' title='Fit to screen'><i class='fa fa-arrows-alt'></i></button>
                </div>

                <div class='btn-group btn-group-sm' style='margin-right: 10px;'>
                  <button name='forceLayout' class='btn btn-secondary'>
                    <i class='fa fa-snowflake-o'></i> Force layout
                  </button>
                </div>

                <bs-dropdown size='sm' drop='up' class='btn-group btn-group-sm' style='margin-right: 10px;'>
                  <bs-dropdown-toggle variant='secondary'>Export</bs-dropdown-toggle>
                  <bs-dropdown-menu>
                    <bs-menu-item name='exportPng'><i class='fa fa-picture-o'></i> Export PNG</bs-menu-item>
                    <bs-menu-item name='exportSvg'><i class='fa fa-picture-o'></i> Export SVG</bs-menu-item>
                    <bs-menu-item name='print'><i class='fa fa-print'></i> Print</bs-menu-item>
                  </bs-dropdown-menu>
                </bs-dropdown>
            	</ontodia-toolbar>
              <ontodia-halo></ontodia-halo>
              <ontodia-halo-link></ontodia-halo-link>
              <ontodia-navigator></ontodia-navigator>
              <ontodia-snaplines></ontodia-snaplines>
              <ontodia-selection></ontodia-selection>
            </ontodia-canvas>
          </ontodia>
        </div>
      </bs-tab>
      <bs-tab event-key="2" title="RDF/Turtle">
        <mp-code-block mode='text/turtle'>
          <![CDATA[
            @prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
            @prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
            @prefix owl: <http://www.w3.org/2002/07/owl#> .
            @prefix xsd: <http://www.w3.org/2001/XMLSchema#> .
            @prefix : <http://www.metaphacts.com/ontologies/platform/workflow#>.
            @prefix sp: <http://spinrdf.org/sp#> .

            <http://www.metaphacts.com/ontologies/platform/workflow> a owl:Ontology;
              rdfs:label "Platform Workflow Ontology".

            #classes

            :Step a owl:Class;
                rdfs:label "Workflow step".

            :WorkflowDefinition a owl:Class;
                rdfs:label "Workflow definition".

            :WorkflowInstantiation a owl:Class;
                rdfs:label "Workflow Instantiation".

            :WorkflowState a owl:Class;
                rdfs:label "Workflow State".
            # properties

            :hasStep a owl:ObjectProperty;
                rdfs:label "Has state";
                rdfs:domain :WorkflowDefinition;
                rdfs:range :Step.

            :nextStep a owl:ObjectProperty;
                rdfs:label "Next workflow state";
                rdfs:comment "Defines next workflow state in the workflow definition";
                rdfs:range :Step;
                rdfs:domain :Step.

            :assigneeQuery a owl:ObjectProperty;
                rdfs:label "Assignee Query";
                rdfs:comment "SPARQL Select query returns possible assignees, expects '$assignee' projection variable.
                    Special variables that will be substituted with user selected values:
                    '?__newStep__' - new step IRI
                    '?__workflowInstantiation__' - workflow instantiation IRI";
                rdfs:domain :Step;
                rdfs:range sp:Query.



            :subject a owl:ObjectProperty;
                rdfs:domain :WorkflowInstantiation.

            :metadata a owl:ObjectProperty;
                rdfs:domain :WorkflowInstantiation.

            :currentState a owl:ObjectProperty;
                rdfs:domain :WorkflowInstantiation;
                rdfs:range :WorkflowState.

            :hasState a owl:ObjectProperty;
                rdfs:domain :WorkflowInstantiation;
                rdfs:range :WorkflowState.

            :step a owl:ObjectProperty;
                rdfs:domain :WorkflowState;
                rdfs:range :Step.

            :assignee a owl:ObjectProperty;
                rdfs:comment "Current assignee of the workflow, could be a person or a group";
                rdfs:domain :WorkflowState.

            :startTime a owl:DatatypeProperty;
                rdfs:comment "Time of state creation";
                rdfs:domain :WorkflowState;
                rdfs:range xsd:datetime.

            :endTime a owl:DatatypeProperty;
                rdfs:comment "Time of state transition";
                rdfs:domain :WorkflowState;
                rdfs:range xsd:datetime.

            :advancedBy a owl:ObjectProperty;
                rdfs:comment "A person or a group who advanced the state";
                rdfs:domain :WorkflowState.

            :hasDefinition a owl:ObjectProperty;
                rdfs:comment "Specifies the definition of a workflow instantiation";
                rdfs:domain :WorkflowInstantiation;
                rdfs:range :WorkflowDefinition.
          ]]>
        </mp-code-block>
      </bs-tab>
    </bs-tabs>

    <h3>Workflow definition</h3>
    
    <p>
      The Workflow Definition specifies possible Workflow Steps and their transitions. In addition it provides the <code>assigneeQuery</code> property which is a SPARQL Select query to define the potential <i>assignees</i> for a particular workflow step - assignees here does not necessarily correspond to a person, it could also be a value identifying members of a group (e.g. reviewers).</p>
    
    <p>To add a workflow definition to the system, its RDF representation needs to be prepared in the TriG format. The underlying mechanism follows the LDP standard and is organized in containers. All individual workflow definitions are associated to the main Workflow Definition Container (which has the default URI <code>Platform:workflowDefinitionContainer</code>).</p>
    
    <p>In the following we describe the steps to bootstrap a workflow</p>
    
    <p>1. If not already present, the <code>Platform:workflowDefinitionContainer</code> needs to be created</p>
    
    <p>Note: this step is only required if there is not <code>Workflow Definitions Container</code> listed on the <a href="resource/Platform:rootContainer?repository=assets">LDP container overview</a>.</p>
    
    <p>The recommended way to achieve this is to use the app mechanism for bootstrapping, by placing a file <code>workflowDefinitionContainer.trig</code> into the <code>ldp/assets</code> of the app (or the runtime folder).</p>
    
      <mp-code-block mode='text/turtle'>
        <![CDATA[
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix ldp: <http://www.w3.org/ns/ldp#> .
@prefix Platform: <http://www.metaphacts.com/ontologies/platform#> .
@prefix prov: <http://www.w3.org/ns/prov#> .

<http://www.metaphacts.com/ontologies/platform#workflowDefinitionContainer/context> {
    Platform:workflowDefinitionContainer a ldp:Container, ldp:Resource , prov:Entity ;
        rdfs:label "Workflow Definitions Container" .
}

<http://www.metaphacts.com/ontologies/platform#workflowDefinitionContainer/context> {
  <http://www.metaphacts.com/ontologies/platform#rootContainer> ldp:contains Platform:workflowDefinitionContainer .
}
        ]]>
      </mp-code-block>
    
    
    <p>2. Define the workflow and bootstrap it using LDP</p>
    
    <p>The following definition defines a simple workflow and the transitions with states <code>TODO</code>, <code>IN PROGRESS</code>, <code>IN REVIEW</code> and <code>DONE</code> and serves as general illustration for a workflow definition. Also here we can use the app mechanism for bootstrapping, by placing a file <code>sampleWorkflow.trig</code> into the <code>ldp/assets</code> of the app (or the runtime folder).</p> 
      
        <mp-code-block mode='text/turtle'>
          <![CDATA[
@prefix : <http://example.com/workflow/> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix workflow: <http://www.metaphacts.com/ontologies/platform/workflow#> .
@prefix sp: <http://spinrdf.org/sp#> .
@prefix ldp: <http://www.w3.org/ns/ldp#> .
@prefix person: <http://example.com/person/> .
@prefix Platform: <http://www.metaphacts.com/ontologies/platform#> .
@prefix prov: <http://www.w3.org/ns/prov#> .

# Note: context must be the IRI of the workflow with /context as suffix
<http://example.com/workflow/sample-workflow/context> {
	Platform:workflowDefinitionContainer ldp:contains :sample-workflow .

	:sample-workflow a :WorkflowDefinition , ldp:Resource ;
		rdfs:label "Workflow Definition" ;
		workflow:hasStep :toDo, :inProgress, :inReview, workflow:done .

	:toDo a workflow:WorkflowStep ;
		rdfs:label "To Do" ;
		workflow:nextStep :inProgress ;
		workflow:assigneeQuery :assigneeQuery .

	:inProgress a workflow:WorkflowStep ;
		rdfs:label "In Progress" ;
		workflow:nextStep :inReview ;
		workflow:assigneeQuery :assigneeQuery .

	:inReview a workflow:WorkflowStep ;
		rdfs:label "In Review" ;
		workflow:nextStep :inProgress, workflow:done ;
		workflow:assigneeQuery :assigneeQuery .

	:done a workflow:WorkflowStep ;
		rdfs:label "Done" ;
		workflow:assigneeQuery :assigneeQuery .

	:assigneeQuery a sp:Query ;
		sp:text """PREFIX person: <http://example.com/person/>
SELECT ?assignee WHERE {
VALUES(?assignee) { (person:alice) (person:bob) }
}""" .

}
]]>
        </mp-code-block>


    <h2>Workflow Instantiations</h2>
    <p>
      A workflow definition may have any number of instantiations for particulary resources. Using the <code><mp-workflow-manager /></code> component existing workflow instatiations can be managed.
    </p>
    
    <p>The component requires the following properties: </p>
    <ul>
      <li><code>iris</code> - IRIs of Workflow Instantiations. The component supports working with multiple Workflow Instantiations at the same time</li>
      <li><code>definition</code> - IRI of the Workflow Definition</li>
      <li><code>readonly</code> (optional field) - enables readonly mode</li>
    </ul>
    
    <p>
     The following snippet depicts an example configuration for a concrete known instantiation with IRI <code>http://example.com/workflow/instantiation</code>.
    </p>

    <mp-code-block mode='text/html'>
      <![CDATA[
<mp-workflow-manager iris='["http://example.com/workflow/instantiation"]'
    definition='http://example.com/workflow/sample-workflow'>
</mp-workflow-manager>
      ]]>
    </mp-code-block>
    <p>
      The following figure depicts such a workflow component:
    </p>
    <figure style="
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px
    ">
      <img style="
        margin: 30px 30px 0 30px;
        border: 1px solid #d8d8d8;
      "
        src='/images/help/workflow-ui-component-screenshot.png'
      />
      <figcaption><small>Fig.1. The Workflow UI Component</small></figcaption>
    </figure>
    
    <p>An alternative configuration could be used from templates, i.e. to obtain the workflow instantiation IRI from the current resource.</p>
    
    <mp-code-block mode='text/html'>
      <![CDATA[
<mp-workflow-manager iris='["&lbrack;&lbrack;singleValueFromSelect "SELECT ?workflowInstance WHERE { ?workflowInstance <http://www.metaphacts.com/ontologies/platform/workflow#subject> ?? }" ]]"]'
      definition='http://example.org/workflow/sample-workflow'>
</mp-workflow-manager>
      ]]>
    </mp-code-block>
    
    <p>
      Using the component the user can managed the workflow, e.g. advance to the next step and/or define a new assignee.
    </p>
    
    <h3>6.1 Managing multiple Workflow Instantiations</h3>
    <p>
      Workflow UI Component supports working with multiple Workflow Instantiations at the same time, it can be used together with <code><mp-selection-group /></code>, <code><mp-selection-toggle /></code> and the special workflow wrapper component <code><mp-workflow-selection-action /></code> to perform actions with the selected Workflow Instantiations.
    </p>
    <p>
      Here is an example configuration of the Workflow Selection Action Component:
    </p>
    <mp-code-block mode='text/html'>
      <![CDATA[
<mp-selection-group>
   [[!-- checkblox --]]
	<mp-selection-toggle selection="workflow-instantiations-selection"
		tag="http://example.com/workflow/instantiation">
	</mp-selection-toggle>

	[[!-- workflow manager --]]
	<mp-workflow-selection-action selection="workflow-instantiations-selection">
		<mp-workflow-manager definition='http://example.com/workflow/sample-workflow'>
		</mp-workflow-manager>
	</mp-workflow-selection-action>
</mp-selection-group>
      ]]>
    </mp-code-block>

    <h2>Components to instantiate workflows</h2>
    
    <p>
      <code><mp-workflow-create /></code> allows to instantiate workflows for resources.
      This Component creates the workflow instantiation for a given target resource.</p>
    
    <p>There are two modes of using this component:</p>
    
    <ul>
      <li>UI mode - this mode provides a button to manually create the instantiation</li>
      <li>Event System mode - the component listens to the <code>Workflow.Create</code> event with data object which contains resource iri
        <code>data: {iri: string}</code> and creates instantiations in response to the event.</li>
    </ul>
    
    <p>See the following listing for the full component configuration</p>
    
    <mp-documentation type="WorkflowCreateConfig"></mp-documentation>

    <h3>Examples for the Create Workflow Component</h3>
    
    <p>In the following we list example configurations for the workflow create component</p>
    
          <div>
            <p><b>a) WorkflowCreateComponent</b></p>
            
            <p>Instantiate a workflow for the given subject by click on a button</p>

            <mp-code-block>
              <div style='margin-bottom: 20px'>
                <mp-workflow-create
                  definition='http://example.com/workflow/sample-workflow'
                  first-step='http://example.com/workflow/toDo'
                  subject='http://example.com/book/javascript'
                  new-workflow-iri-template='http://example.com/workflow-example-{{{{capture}}}}{{UUID}}{{{{/capture}}}}'
                  metadata-query='CONSTRUCT {
                    ?metadataIri <http://example.com/hasLanguage> "english";
                       <http://example.com/hasPrice> 1000.
                  } WHERE {}'
                  assignee='http://example.com/person/bob'>
                </mp-workflow-create>
              </div>
            </mp-code-block>

            <p><b>b) TriggerButton + WorkflowCreateComponent</b></p>
            
            <p>Instantiate a workflow for the given subject from anevent:</p>

            <mp-code-block>
              <div style='margin-bottom: 20px'>
                <mp-workflow-create
                  id='workflow-from-event'
                  definition='http://example.com/workflow/sample-workflow'
                  first-step='http://example.com/workflow/toDo'
                  new-workflow-iri-template='http://example.com/workflow-example-&#123;&#123;UUID&#125;&#125;'
                  metadata-query='CONSTRUCT {
                    ?metadataIri <http://example.com/hasLanguage> "english" .
                  } WHERE {}'
                  use-event-system=true>
                </mp-workflow-create>
                <mp-event-trigger id='create-workflow-trigger' type='Workflow.Create' targets='["workflow-from-event"]'
                  data='{"iri": "http://example.com/book/java"}'>
                  <button class='btn btn-info'>Create workflow</button>
                </mp-event-trigger>
              </div>
            </mp-code-block>

            <p><b>c) Form + WorkflowCreateComponent + Redirect</b></p>
            
            <p>The following example is more complex and comprises the steps below:</p>
            
            <ol>
              <li>Create a new entity using Form and fire <code>Form.ResourceCreated</code> event</li>
              <li>Catch <code>Form.ResourceCreated</code> event and proxy it to the <code><mp-workflow-create/></code></li>
              <li>Create workflow for the new entity and fire the <code>Workflow.Created</code> event</li>
              <li>Catch the <code>Workflow.Created</code> event and proxy it to the <code>mp-event-target-redirect/></code></li>
              <li>Redirect to the created resource</li>
            </ol>
            <mp-code-block>
              <div style='margin-bottom: 20px'>
                <!-- 1) Create a new entity using Form and fire 'Form.ResourceCreated' event -->
                <semantic-form
                  id='semantic-form-example'
                  post-action='event'
                  new-subject-template='http://example.com/person-name-&#123;&#123;UUID&#125;&#125;'
                  fields='[
                    {
                      "id": "name",
                      "label": "Name",
                      "description": "",
                      "xsdDatatype": "xsd:string",
                      "minOccurs": "1",
                      "maxOccurs": "1",
                      "selectPattern": "SELECT $value WHERE {$subject rdfs:label $value}",
                      "insertPattern": "INSERT {$subject rdfs:label $value}WHERE{}"
                    }
                  ]'>
                  <semantic-form-text-input for='name'></semantic-form-text-input>
                  <button name='submit'>Create</button>
                  <button name='reset'>Reset</button>
                </semantic-form>

                <!-- 2) Catch 'Form.ResourceCreated' event and proxy it to the <mp-workflow-create/> -->
                <mp-event-proxy id='form-resource-created' on-event-type='Form.ResourceCreated'
                  proxy-event-type='Workflow.Create' proxy-targets='["workflow-form-resource"]'>
                </mp-event-proxy>

                <!-- 3) Create workflow for the new antity and fire 'Workflow.Created' event -->
                <mp-workflow-create
                  id='workflow-form-resource'
                  first-step='http://example.com/workflow/toDo'
                  new-workflow-iri-template='http://example.com/workflow-example-&#123;&#123;UUID&#125;&#125;'
                  definition='http://example.com/workflow/sample-workflow'
                  assignee='http://example.com/person/alice'
                  use-event-system=true>
                </mp-workflow-create>

                <!-- 4) Catch 'Workflow.Created' event and proxy it to the <mp-event-target-redirect/> -->
                <mp-event-proxy id='workflow-proxy' on-event-type='Workflow.SubjectGetInWorkflow'
                  proxy-event-type='RedirectAction.perform' proxy-targets='["redirect-to-resource"]'>
                </mp-event-proxy>

                <!-- 5) Redirect to the created resource -->
                <mp-event-target-redirect
                  id='redirect-to-resource'
                  action='redirect'
                ></mp-event-target-redirect>
              </div>
            </mp-code-block>
          </div>


    <h3>Listing Existing workflows</h3>
    
    <p>The following snippet can be used to list existing workflow instantiations. Optionally one can provide filter (e.g. for <code>workflow:assignee</code>) in the query to reduce the result set for the desired view.</p>
    
    <mp-code-block>
      <semantic-table 
          query="
           PREFIX workflow: <http://www.metaphacts.com/ontologies/platform/workflow#> 
           SELECT * WHERE {
             ?workflowInstance a workflow:WorkflowInstantiation .
             ?workflowInstance workflow:subject ?subject .
             ?workflowInstance workflow:currentState ?workflowState .
             ?workflowState workflow:step ?step .
             ?workflowState workflow:assignee ?assignee .
           }
           "
        column-configuration='[
               {"variableName": "workflowInstance", "displayName": "Workflow Instance"},
               {"variableName": "subject", "displayName": "Subject"},
               {"variableName": "step", "displayName": "Step"},
               {"variableName": "assignee", "displayName": "Assignee"}
             ]'
        ></semantic-table>
    </mp-code-block>

    <h2>8 Current limitations</h2>
    <ul>
      <li>
        There are no tools to create/edit workflow definitions from the UI. If a workflow defintion needs to be adjusted, it has to be done manually by making changes to the RDF file. Note that the old definition has to be removed from the platform prior to importing the new one.
      </li>
    </ul>
  </div>
</div>

[[#*inline "workflowOntologyConstructQuery"]]
        prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
        prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#>
        prefix owl: <http://www.w3.org/2002/07/owl#>
        prefix xsd: <http://www.w3.org/2001/XMLSchema#>
        prefix : <http://www.metaphacts.com/ontologies/platform/workflow#>
        prefix sp: <http://spinrdf.org/sp#>

        CONSTRUCT {
          ?s ?p ?o
        } WHERE {
          {
            SELECT ?s ?p ?o WHERE {
              VALUES (?s ?p ?o)
              {
                # classes
                (:Step rdf:type owl:Class)
                (:Step rdfs:label "Workflow step")

                (:WorkflowDefinition rdf:type owl:Class)
                (:WorkflowDefinition rdfs:label "Workflow Definition")

                (:WorkflowInstantiation rdf:type owl:Class)
                (:WorkflowInstantiation rdfs:label "Workflow Instantiation")

                (:WorkflowState rdf:type owl:Class)
                (:WorkflowState rdfs:label "Workflow State")

                # properties
                (:hasStep rdf:type owl:ObjectProperty)
                (:hasStep rdfs:label "Has state")
                (:hasStep rdfs:domain :WorkflowDefinition)
                (:hasStep rdfs:range :Step)

                (:nextStep rdf:type owl:ObjectProperty)
                (:nextStep rdfs:label "Next workflow state")
                (:nextStep rdfs:comment "Defines next workflow state in the workflow definition")
                (:nextStep rdfs:range :Step)
                (:nextStep rdfs:domain :Step)

                (:assigneeQuery rdf:type owl:ObjectProperty)
                (:assigneeQuery rdfs:label "Assignee Query")
                (:assigneeQuery rdfs:comment "SPARQL Select query returns possible assignees, expects \"$assignee\" projection variable. Special variables that will be substituted with user selected values: \"?__newStep__\" - new step IRI \"?__workflowInstantiation__\" - workflow instantiation IRI")
                (:assigneeQuery rdfs:domain :Step)
                (:assigneeQuery rdfs:range sp:Query)

                (:subject rdf:type owl:ObjectProperty)
                (:subject rdfs:domain :WorkflowInstantiation)

                (:metadata rdf:type owl:ObjectProperty)
                (:metadata rdfs:domain :WorkflowInstantiation)

                (:currentState rdf:type owl:ObjectProperty)
                (:currentState rdfs:domain :WorkflowInstantiation)
                (:currentState rdfs:range :WorkflowState)

                (:hasState rdf:type owl:ObjectProperty)
                (:hasState rdfs:domain :WorkflowInstantiation)
                (:hasState rdfs:range :WorkflowState)

                (:step rdf:type owl:ObjectProperty)
                (:step rdfs:domain :WorkflowState)
                (:step rdfs:range :Step)

                (:assignee rdf:type owl:ObjectProperty)
                (:assignee rdfs:comment "Current assignee of the workflow, could be a person or a group")
                (:assignee rdfs:domain :WorkflowState)

                (:startTime rdf:type owl:DatatypeProperty)
                (:startTime rdfs:comment "Time of state creation")
                (:startTime rdfs:domain :WorkflowState)
                (:startTime rdfs:range xsd:datetime)

                (:endTime rdf:type owl:DatatypeProperty)
                (:endTime rdfs:comment "Time of state transition")
                (:endTime rdfs:domain :WorkflowState)
                (:endTime rdfs:range xsd:datetime)
              }
            }
          }
        }
[[/inline]]




