<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">Assets</li>
</ol>


<div class="page">
  <div class="page__header">
    <div class='page__header-thumbnail'>
      <h2><img src="/images/noun_layer_3183388.svg" height="64" /></h2>
    </div>
    <div class='page__header-body'>
      <h2>Assets</h2>
      <span>You are in the “Assets” space. Here you find the collection of items that allow an expert user to define and inspect data models, data partitioning and data abstractions.</span>
    </div>
  </div>
  <div class='page__body'>
    [[>Admin:IconPanelInclude title="Named Graphs" imgIcon="/images/noun_nodes_137606.svg" pageLink=(resolvePrefix "Assets:NamedGraphs")]]

    [[>Admin:IconPanelInclude title="Ontologies" faIcon="fa fa-sitemap fa-5x" pageLink=(resolvePrefix "Assets:Ontologies")]]

    [[#if (hasPermission "api:ldp:container:<http://www.metaphacts.com/ontologies/platform#queryTemplateContainer>:read:any")]]
  	<mp-resource-link-container title="Query Templates" uri="http://www.metaphacts.com/resource/assets/QueryTemplates">    
  		<div class="text-center panel panel-default admin-icon-panel">
          <div class="panel-body">      
            <img src='/images/noun_Query_Tools_3100973.svg' width='60px'>
          </div>
          <div class="panel-footer" style="position: relative">
              <a>
                Query Templates
              </a>
          </div>
      	</div>
     </mp-resource-link-container>
    [[/if]]
    
    [[#if (hasPermission "api:ldp:container:<http://www.metaphacts.com/ontologies/platform#fieldDefinitionContainer>:read:any")]]
      [[>Admin:IconPanelInclude title="Fields" faIcon="fa fa-list-ul fa-5x" pageLink="http://www.metaphacts.com/resource/assets/Fields"]]
    [[/if]]
  <div style="clear:both;"></div>
    <hr>
    [[#if (hasPermission "api:ldp:container:<http://www.metaphacts.com/ontologies/platform#ontodiaDiagramContainer>:read:any")]]
      [[>Admin:IconPanelInclude title="Diagrams" faIcon="fa fa-object-group fa-5x" pageLink="http://www.metaphacts.com/resource/assets/Diagrams"]]
    [[/if]]
  </div>
</div>