<div class="page">
  <bs-tabs id="tabs" class='page__body-navtabs' unmount-on-exit=true>
    <bs-tab event-key="1" title="Summary">
      <div>
        <semantic-table query="SELECT ?p ?o WHERE {
                               ?? ?p ?o .
                               BIND(IF(isURI(?o), 2, 1) as ?sort)
                               } ORDER BY ASC(?sort)"
                        options='{"showTableHeading": false, "showFilter": false}'>
        </semantic-table>
      </div>
    </bs-tab>
    [[> "http://www.metaphacts.com/resource/LinksToOtherDatabases" eventKey='2']]
    <bs-tab event-key="3" title="Diagrams">
        [[> Assets:OntodiaDiagramsTable resource=(this)]]
      </bs-tab>
  </bs-tabs>
</div>
